{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "$assets": "./assets",
          "$constants": "./constants",
          "$navigation": "./src/navigation",
          "$app-contexts": "./src/contexts",
          "$styles": "./src/styles",
          "$components": "./src/components",
          "$services": "./src/services",
          "$app-helpers": "./src/helpers",
          "$views": "./src/views"
        }
      }
    ]
  ]
}
